{% extends 'index/index.html' %}


{% block title %}
        <title> Detalle de la Carrera </title>
{% endblock title %}


{% block body %}
    <p>
        <a href= {% url 'careers_list' %}>
            Volver a la Lista
        </a>
    </p>
    
    <p>
        <li>Carrera: {{object.name}}</li>
        <li>Tipo de titulo: {{object.degree_type}}</li>
        <li>Cantidad de materias: {{object.amount_of_subjects}}</li>
        
    </p>
    <p>
        <a href= {% url 'career_edit' object.id %}>Editar</a>
        <a href= {% url 'career_delete' object.id %}>Eliminar</a>
    </p>



{% endblock body %}