{% extends 'index/usuario_logueado.html' %}


{% block title %}
        <title> Lista Carreras </title>
{% endblock title %}


{% block body %}
    <a href={% url 'crear_carrera' %}>Añadir Carrera</a> 
    

    {% for career in object_list %}
        <li>
            {{career}} 
            <a href={% url 'editar_carrera' career.id %}> Editar... </a> 
            <a href={% url 'borrar_carrera' career.id %}> Borrar... </a> 
            <a href={% url 'carrera_detalle' career.id %}> Ver Mas... </a> 


        </li>
    {% endfor %}

{% endblock body %}