{% extends 'index/index.html' %}


{% block title %}
        <title> Formularios </title>
{% endblock title %}


{% block body %}
    <p>
        <a href= {% url 'students_form' %}>
            Registrar Estudiante
        </a>
    </p>
   

    <form action="" method="get">
        {% csrf_token %}
        <table>
        {{form.as_table}}
        </table>
        <button>Buscar</button>
    
    </form>

    {% for student in students %}

        <li>
            <a href={% url 'student_detail' student.id %}>  {{student}}   </a> |
            <a href={% url 'student_edit' student.id %}> Editar </a> |
            <a href={% url 'student_delete' student.id %}> Eliminar</a>
        </li>
    {% endfor %}

{% endblock body %}