{% extends 'index/index.html' %}

{% block title %}
    <title> A </title>
{% endblock title %}

{% block caca %}

    <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href={% url 'index' %}> Inicio </a>
                <a class="navbar-brand" href={% url 'students_form' %}> Students </a>
                <a class="navbar-brand" href={% url 'teachers' %}> Teachers </a>
                <a class="navbar-brand" href={% url 'login' %}> Login </a>
                <a class="navbar-brand" href={% url 'logout' %}> Logout </a>
                <a class="navbar-brand" href={% url 'registrar' %}> Registrar </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                </div>
            </div>
        </nav>
{% endblock caca %}



{% block navbar %}
    <nav>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href= "#about"> Nuestro Proyecto</a></li> 
            
        </ul>
    </nav>

{% endblock navbar %}
    



{% block body %}
    


        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder"> 
                
            {% if msj %}
                {{msj}}
                {{username}}
                
            {% else %}
                Bienvenidos 
                {% endif %}
                </h1>
                <p class="lead"> Proximamente: Blog</p>
                
                {% comment %} <a class="btn btn-lg btn-light" href="#about">Start scrolling!</a> {% endcomment %}
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2> Sobre Nuestro Proyecto</h2>
                        <p class="lead">Esperamos poder desarrollar un blog de tipo campus, en donde profesores y alumnos puedan interactuar de manera comoda, permitiendo:</p>
                        <ul>
                            <li> Facilitación del material bibliográfico</li>
                            <li> Espacio para consultas</li>
                            <li> Entrega de tareas y trabajos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services section-->
        {% comment %} <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Services we offer</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}



        <!-- Contact section-->
        {% comment %} <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Contact us</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}



{% endblock body %}
